<div class='container'>
  <h3 class='mt-5'><%= @house.name %></h3>
  <h6><%= @house.address %></h6>
  <div class='d-flex justify-content-evenly mb-3'>
    <div >
      <%= cl_image_tag @first_pic.key, height: 380, width: 560, crop: :fill, class: 'house-img'%>
    </div>
    <div class='second'>
      <% @second_set.each do |photo| %>
        <%= cl_image_tag photo.key, height: 186, width: 300, crop: :fill, class: 'mb-2 house-img' %>
      <% end %>
    </div>
    <div class='third'>
      <% @third_set.each do |photo| %>
        <%= cl_image_tag photo.key, height: 186, width: 300, crop: :fill, class: 'mb-2 house-img' %>
      <% end %>
    </div>
  </div>
  <h4><%= @house.name %> hosted by Laura</h4>
  <div class='features'>
    <p><%= @house.guests %> guests. <%= @house.bedrooms %> bedrooms. <%= @house.beds %> beds .<%= @house.bathrooms %> bathrooms</p>
  </div>
  <hr>
  <div class='house-description'>
    <p><%= @house.description %></p>
  </div>
  <hr>
  <div class='Amenties'>
    <h4 class='text-center mb-3' >What this place offers</h4>
    <div class="amenties-list d-flex justify-content-around">
      <ul>
        <li><i class="fa-solid fa-umbrella-beach"></i> Public or shared beach access</li>
        <li><i class="fa-solid fa-kitchen-set"></i> Kitchen</li>
        <li><i class="fa-solid fa-wifi"></i> Wifi</li>
        <li><i class="fa-solid fa-car"></i> Free driveway parking on premises</li>
        <li><i class="fa-solid fa-paw"></i> Pets allowed</li>
      </ul>
      <ul>
        <li><i class="fa-solid fa-tv"></i> TV</li>
        <li><i class="fa-solid fa-square-caret-down"></i> Washing machine</li>
        <li><i class="fa-solid fa-square-caret-down"></i> Dryer</li>
        <li><i class="fa-solid fa-square-caret-down"></i></i> Air conditioning</li>
        <li><i class="fa-solid fa-square-caret-down"></i> Carbon monoxide alarm</li>
      </ul>
    </div>
  </div>
  <hr>
  <div style="width: 75%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  class='map'></div>
</div>
